
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
#!*.sh
#!*.js*

# Don't want to include secrets.yaml 
secrets.yaml

# Allow Node-RED flows.
!node-red/

# Ignore these files/folders
.storage
.cloud
.google.token 
home-assistant.log
home-assistant_v2

